{{#partial "content"}}
    <div class="container-fluid">
        <div class="row container">
            <div class="col-md-6">
                <p class="animals">All Animals</p>
                {{#if animals}}
                    {{#each animals}}
                        <ul id="animals">
                            <li>Species: <span id="value"> {{name}} </span></li>
                            <li>Category: <span id="value"> {{danger}}</span></li>
                            <li>Health: <span id="value">  {{health}}</span></li>
                            <li>Age: <span id="value"> {{age}}</span></li>
                            <li>Location Spotted: <span id="value">{{location}}</span></li>
                            <p id="ranger">Submitted by: <span id="value">{{ranger}}</span></p>
                        </ul>
                    {{/each}}
                    <div class="buttons">
                        <a href="/">
                            <button class="btn success">Track a new animal</button>
                        </a>
                    </div>
                {{else}}
                    <p>No Animal</p>
                    <a href="/">
                        <button class="btn success">Track a new animal</button>
                    </a>
                {{/if}}
            </div>
            <div class="col-md-6">
               <img src="/images/tiger.gif" height="450" width="600" alt="elephant">
            </div>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}